aiohttp==3.6.2
asgiref==3.2.5
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
colorlog==4.1.0
dj-database-url==0.5.0
Django==3.0.4
django-pytest==0.2.0
django-slack==5.14.3
django-slack-utils==0.3.0
gevent==1.4.0
greenlet==0.4.15
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.5.0
more-itertools==8.2.0
multidict==4.7.5
numpy==1.18.2
packaging==20.3
pandas==1.0.3
pluggy==0.13.1
psycopg2==2.8.4
py==1.10.0
pycodestyle==2.5.0
pyparsing==2.4.6
pytest==5.4.1
pytest-django==3.8.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
slack==0.0.2
slack-utils==0.2.1
slackclient==2.5.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.8
wcwidth==0.1.8
whitenoise==5.0.1
yarl==1.4.2
zipp==3.1.0
